@font-face {
  font-family: iranyekanwebbold;
  src: url(./componet/assets/fonts/iranyekanwebbold.woff);
}
@font-face {
  font-family: iranyekanwebregular;
  src: url(./componet/assets/fonts/iranyekanwebregular.woff);
}
* {
  font-family: "iranyekanwebregular", Arial;
}
