@font-face {
  font-family: iranyekan;
  src: url(./componet/assets/fonts/iranyekanwebbold.woff);
}
@font-face {
  font-family: iranyekan;
  src: url(./componet/assets/fonts/iranyekanwebregular.woff);
}
* {
  font-family: "iranyekan", Arial;
}
